/* O container (fundo do grupo) */
.theme-toggle-group {
	display: flex;
	align-items: center;
	background-color: var(--bg-alt);
	border: 1px solid var(--border-base);
	border-radius: 6px;
	padding: 2px;
	gap: 2px;
}

.toggle-option {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 4px;
	color: var(--text-base);
	opacity: 0.6;
	transition: all 0.2s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-option:hover {
	opacity: 1;
	background-color: var(--bg-base);
}

.toggle-option.active {
	background-color: var(--text-base);
	color: var(--text-primary);
	opacity: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
	.toggle-option {
			flex: 1 0 0;
	}
}